# Adam Cabral
## CSC 310 Final Project Proposal

### Individual App Project: Automated Car Appraiser

My idea for an App using machine learning is to make a simple gui type application that appraises your car. The user would input their cars information such as make, model, milage, year, etc. and the application would output an estimated price based on its model.

I have found a very large dataset (371528 rows, 20 columns), which includes estimated prices of other used cars. I will build a model based on this dataset and use it with my app. The user will input their cars information and my model will predict the value of the car.

### The Dataset: Autos.csv

##### I downloaded this dataset from: 

https://www.kaggle.com/orgesleka/used-cars-database

Currently the dataset uses units such as kilometers and uses words like automatik (automatic) and kleinwagen. I will have to clean up this data and convert units and names for use on American words.

Below I show a brief summary of the dataset.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("autos.csv")

In [3]:
df.shape

(371528, 20)

In [4]:
df.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,nrOfPictures,postalCode
count,3.715280e+05,371528.000000,371528.000000,371528.000000,371528.000000,371528.0,371528.00000
mean,1.729514e+04,2004.577997,115.549477,125618.688228,5.734445,0.0,50820.66764
std,3.587954e+06,92.866598,192.139578,40112.337051,3.712412,0.0,25799.08247
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.00000
25%,1.150000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30459.00000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49610.00000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71546.00000
max,2.147484e+09,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.00000

In [5]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3T�RER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

## Making the App

For this app I think the easiest way to interface with the python libraries we have been using this semster would be to use <a href="https://wiki.python.org/moin/TkInter" target="_blank">Tkinter library</a> for python to make the GUI for this app. Tkinter is a very simple and easy to use GUI Library that I can use to make the interface I have drawn up below.

The user would simply type or use drop downs to enter the specifications of the vehicle they wish to appraise. After entering their vehicle information, they press the appraise button and an estimated price would appear on the screen!

<img src="MockGUI.png">

# Milestones
1. Clean up the dataset to conform to American unit standards. Currently I think it is German...
2. Find which model gives the best accuracy for appraising cars.
3. Find a way to save the best model so it does not have to train everytime the app launches.
4. Build the app gui using Tkinter for user input.
5. Hook up the GUI to the python model for appraisal to give a price to the user.